* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Background-color*/
  --dark-bg-color: #30343f;
  --red-bg-color: #ff3333;
  --light-bg-color: #ffffff;

  /*Font-color*/
  --dark-font-color: #111111;
  --bluedark-font-color: #30343f;
  --blue-font-color: #1d84b5;
  --grey-font-color: #c9c9c9;
  --grey-dark-font-color: #333333;
  --light-font-color: #ffffff;

  /* Font-sizes*/
  --xl-size: 46px;
  --l-size: 38px;
  --m-size: 24px;
  --xm-size: 20px;
  --s-size: 18px;
  --xs-size: 16px;
  --xxs-size: 14px;
  --xxxs-size: 12px;

  /*Typography*/
  --primary-font: Raleway;
  --secondary-font: Inter;

  /*Font-weight*/
  --l-weight: 700;
  --m-weight: 500;
  --s-weight: 400;

  /*Spacing*/
  --xl-spacing: 128px;
  --l-spacing: 68px;
  --m-spacing: 36px;
  --s-spacing: 28px;
  --xs-spacing: 24px;
  --xxs-spacing: 16px;
  --xxxs-spacing: 12px;
}

/*GENERAL - NAVBAR & FOOTER*/
/*navbar*/
.bg-navbar {
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 100px;
  padding: 20px;
}

.bg-navbar .site-img {
  width: 200px;
  height: 50px;
}

.btn-group button {
  padding: 5px;
  margin-left: 30px;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  border-style: none;
}

.bg-navbar .cart-img {
  width: 50px;
  height: 20px;
}

/*footer*/
footer {
  width: 1440px;
  height: 343px;
  background-color: var(--dark-bg-color);
}

.container-footer {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer ul li {
  padding: 2px;
  list-style: none;
}

.container-footer a {
  font-family: var(--primary-font);
  font-size: var(--xm-size);
  font-weight: var(--m-weight);
  color: var(--light-font-color);
  text-decoration: none;
}

.container-footer img {
  width: 140px;
  height: 110px;
}

.text-footer {
  font-family: var(--primary-font);
  font-size: var(--xm-size);
  font-weight: var(--m-weight);
  color: var(--light-font-color);
  text-align: center;
}

/*INDEX*/
/*banner*/
.banner {
  position: relative;
}

.banner img {
  object-fit: cover;
  width: 1440px;
  height: 288px;
}

.title-banner {
  color: var(--light-font-color);
  font-size: var(--l-size);
  font-weight: var(--l-weight);
  font-family: var(--primary-font);
  position: absolute;
  top: 130px;
  left: 108px;
}

.text-banner {
  color: var(--light-font-color);
  font-family: var(--primary-font);
  font-weight: var(--s-weight);
  font-size: var(--s-size);
  position: absolute;
  top: 185px;
  left: 105px;
}

.link-shop {
  color: var(--dark-font-color);
  background-color: var(--light-bg-color);
  text-decoration: none;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  position: absolute;
  top: 215px;
  left: 110px;
}

/*items*/
.bg-items {
  width: 1220px;
  margin: 60px;
  padding: 60px;
  background-color: var(--light-bg-color);
}

article {
  display: flex;
  align-items: center;
  height: 600px;
}

.title-item {
  font-family: var(--primary-font);
  font-weight: var(--m-weight);
  font-size: var(--l-size);
  color: var(--dark-font-color);
}

.text-item {
  font-family: var(--primary-font);
  font-size: var(--m-size);
  font-weight: var(--s-weight);
  color: var(--dark-font-color);
}

.item img {
  width: 600px;
  height: 600px;
}

.link-item {
  color: var(--light-font-color);
  background-color: var(--dark-bg-color);
  text-decoration: none;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
}

hr {
  border: 3px solid var(--red-bg-color);
}

/*new items*/
.container-new {
  padding: 50px;
  margin-left: 180px;
  width: auto;
}

.new {
  background-color: var(--red-bg-color);
  color: var(--light-font-color);
  font-family: var(--secondary-font);
  font-weight: var(--m-weight);
  font-size: var(--xxs-size);
  padding: 5px;
  margin: 50px;
  text-align: center;
}

iconify-icon{
  color: var(--dark-bg-color);
}

.glide__arrow--right{
  right: 0;
}

.glide__arrow--left{
  left: 0;
}

.title-new {
  color: var(--dark-font-color);
  font-size: var(--xl-size);
  font-weight: var(--m-weight);
  left: 110px;
}

.new-bg {
  height: 512px;
}

.new-img img {
  width: 350px;
  height: 352px;
}

.genre {
  font-weight: var(--m-weight);
  font-family: var(--secondary-font);
  font-size: var(--xxs-size);
  color: var(--dark-font-colo);
}

.title-new {
  color: var(--dark-font-color);
  font-family: var(--secondary-font);
  font-weight: var(--l-weight);
  font-size: var(--s-size);
}

.price-new {
  color: var(--dark-font-color);
  font-family: var(--secondary-font);
  font-weight: var(--x-weight);
  font-size: var(--xs-size);
}

.credit {
  font-family: var(--secondary-font);
  font-weight: var(--l-weight);
  font-size: var(--xxxs-size);
  color: var(--blue-font-color);
}

/*SHOP*/
.container-buscador {
  width: 250px;
  margin: 50px;
  padding: 5px;
  position: absolute;
}

.title-buscador {
  font-family: var(--secondary-font);
  font-weight: var(--m-weight);
  font-size: var(--m-size);
  color: var(--dark-font-color);
  padding-top: 15px;
}

input {
  text-align: center;
  border: 1.5px solid var(--dark-font-color);
}

.price-input {
  width: 30px;
}

.page {
  display: flex;
  justify-content: flex-end;
}

/*ITEM*/
.container-item {
  display: flex;
  align-items: center;
}
.container-detail {
  width: 450px;
}

.genre-detail {
  font-family: var(--secondary-font);
  color: var(--grey-dark-font-color);
  font-size: var(--xs-size);
  font-weight: var(--m-size);
}

.name-item {
  font-family: var(--secondary-font);
  color: var(--grey-dark-font-color);
  font-size: var(--l-size);
  font-weight: var(--l-size);
}

.p-item {
  font-family: var(--secondary-font);
  color: var(--grey-dark-font-color);
  font-size: var(--l-size);
  font-weight: var(--s-size);
}

.text-item-detail {
  font-family: var(--secondary-font);
  color: var(--grey-dark-font-color);
  font-size: var(--m-size);
  font-weight: var(--s-size);
}
