:root {
  /*Background-color*/
  --dark-bg-color: #30343f;
  --red-bg-color: #ff3333;
  --light-bg-color: #ffffff;

  /*Font-color*/
  --dark-font-color: #111111;
  --bluedark-font-color: #30343f;
  --blue-font-color: #1d84b5;
  --grey-font-color: #c9c9c9;
  --light-font-color: #ffffff;

  /* Font-sizes*/
  --l-size: 38px;
  --m-size: 24px;
  --xm-size: 20px;
  --s-size: 18px;
  --xs-size: 16px;
  --xxs-size: 14px;
  --xxxs-size: 12px;

  /*Typography*/
  --primary-font: Raleway;
  --secondary-font: Inter;

  /*Font-weight*/
  --l-weight: 700;
  --m-weight: 500;
  --s-weight: 400;

  /*Spacing*/
}

* {
  box-sizing: border-box;
}

/*INDEX*/

/*banner*/

.banner img {
  object-fit: cover;
}
