:root {
  /*Background-color*/
  --dark-bg-color: #30343f;
  --red-bg-color: #ff3333;
  --light-bg-color: #ffffff;
  --grey-ligth-bg-solid: #fafaff;

  /*Font-color*/
  --dark-font-color: #111111;
  --bluedark-font-color: #30343f;
  --blue-font-color: #1d84b5;
  --grey-font-color: #c9c9c9;
  --grey-dark-font-color: #333333;
  --light-font-color: #ffffff;
  --red-font-color: #ff3333;
  --dark-font-solid: #1f1f1f;

  /* Font-sizes*/
  --xl-size: 46px;
  --l-size: 38px;
  --med-size: 32px;
  --m-size: 24px;
  --xm-size: 20px;
  --s-size: 18px;
  --xs-size: 16px;
  --xxs-size: 14px;
  --xxxs-size: 12px;

  /*Typography*/
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Inter", sans-serif;

  /*Font-weight*/
  --l-weight: 700;
  --xm-weight: 600;
  --m-weight: 500;
  --s-weight: 400;

  /*Spacing*/
  --xl-spacing: 128px;
  --l-spacing: 68px;
  --spacing-48: 48px;
  --m-spacing: 36px;
  --s-spacing: 28px;
  --xs-spacing: 24px;
  --xxs-spacing: 16px;
  --xxxs-spacing: 12px;
  --spacing-8: 8px;
}

/*normalizacion*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GENERAL - NAVBAR & FOOTER*/
/*navbar*/

.bg-navbar {
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 100px;
  padding: var(--m-spacing);
}

.bg-navbar .site-img {
  max-width: 250px;
  height: 50px;
}

.btn-group a {
  padding: 5px;
  margin-left: 30px;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  border-style: none;
  text-decoration: none;
  transition: backgroung 0.3s ease-in-out;
}

.btn-group a:hover {
  background-color: var(--red-bg-color);
}

.btn-group button {
  padding: 5px;
  margin-left: 30px;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  border-style: none;
  text-decoration: none;
  transition: backgroung 0.3s ease-in-out;
}

.btn-group button:hover {
  background-color: var(--red-bg-color);
}

.dropdown-menu {
  background-color: var(--dark-bg-color);
}

.dropdown-item {
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  transition: background 0.3s ease-in-out;
}

.bg-navbar .cart-img {
  width: 50px;
  height: 20px;
}

/*footer*/
footer {
  width: 1440px;
  height: 343px;
  background-color: var(--dark-bg-color);
}

.container-footer {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer ul li {
  padding: 2px;
  list-style: none;
}

.container-footer a {
  font-family: var(--primary-font);
  font-size: var(--xm-size);
  font-weight: var(--m-weight);
  color: var(--light-font-color);
  text-decoration: none;
}

.container-footer img {
  width: 140px;
  height: 110px;
}

.text-footer {
  font-family: var(--primary-font);
  font-size: var(--xm-size);
  font-weight: var(--m-weight);
  color: var(--light-font-color);
  text-align: center;
}
