a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Login*/
.login {
  margin: var(--spacing-48) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--m-spacing);
  max-width: 1200px;
}

.login__title {
  text-align: center;
  font-size: var(--l-size);
  font-family: var(--primary-font);
  color: var(--dark-font-solid);
}

.login__form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--m-spacing);
}

.login__form-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--xxs-spacing);
  align-items: center;
}

.login__form__label {
  font-family: var(--secondary-font);
  font-weight: var(--s-weight);
  font-size: var(--s-size);
}

.login__form__textbox {
  border: none;
  border-bottom: 2px solid var(--red-bg-color);
  padding: var(--spacing-8);
  font-size: var(--s-size);
}

.login__form-enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--xxs-spacing);
}

.login__form__btn {
  background-color: var(--red-bg-color);
  color: var(--light-font-color);
  font-size: var(--xxs-size);
  padding: var(--xxxs-spacing) var(--s-spacing);
  border: none;
}

.login__form-recuerdame {
  font-size: var(--s-size);
  color: var(--bluedark-font-color);
}

.login__form-olvidar {
  text-align: center;
  color: var(--blue-font-color);
  font-size: var(--xs-size);
}

/*register*/
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--m-spacing);
  margin: var(--spacing-48) auto;
}

.register__info {
  font-family: var(--primary-font);
  font-size: var(--med-size);
  text-align: center;
}

/*Create*/
.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--m-spacing);
  margin: var(--spacing-48) auto;
}

.form-create {
  justify-content: center;
}

.form-create-parte1 {
  display: flex;
}

.form-create-label {
  font-family: var(--secondary-font);
  font-weight: var(--s-weight);
  font-size: var(--s-size);
}

.create__form-box {
  margin-top: var(--xxs-spacing);
  margin-bottom: var(--xxs-spacing);
  margin-right: var(--xxs-spacing);
  align-items: center;
}

.create-select {
  padding: var(--spacing-8);
  margin-left: var(--xxs-spacing);
  width: auto;
  font-size: var(--xxs-size);
  font-weight: var(--s-weight);
  color: var(--bluedark-font-color);
}

.create-input {
  border: none;
  border-bottom: 2px solid var(--red-bg-color);
  padding: 0;
  /* Quita el relleno para que el tamaño sea el del texto */
  font-size: var(--s-size);
  /* Establece el tamaño de fuente deseado */
}

.create__form-box textarea {
  width: 75%;
  height: 100px;
  padding: var(--spacing-8);
  /* El textarea se ajustará automáticamente al contenido */
}

.create-btn {
  background-color: var(--red-bg-color);
  color: var(--light-font-color);
  font-size: var(--xxs-size);
  padding: var(--xxxs-spacing) var(--s-spacing);
  border: none;
  margin-right: var(--xxs-spacing);
}

.create__title {
  font-size: var(--l-size);
  font-family: var(--primary-font);
  color: var(--dark-bg-color);
}

.container-img-edit {
  display: flex;
  align-items: center;
  padding: var(--xxs-spacing);
  margin-bottom: var(--spacing-8);
}

.edit-img img {
  width: 150px;
  height: 150px;
}

.edit-img hr {
  width: 100px;
  border-bottom: 1.5px solid var(--red-bg-color);
}

.edit-img p {
  font-size: var(--xs-size);
  font-family: var(--secondary-font);
  font-weight: var(--xm-weight);
  color: var(--dark-bg-color);
  text-align: start;
  padding-left: var(--spacing-8);
}

/*admin*/
.admin-form {
  margin-top: var(--xxs-spacing);
  margin-bottom: var(--xxs-spacing);
}

.admin-box {
  display: flex;
  width: 100%;
  align-items: center;
}

.create__title {
  flex-grow: 8;
  font-size: var(--med-size);
  font-weight: var(--l-weight);
  margin-top: var(--xxs-spacing);
}

.admin-enlace {
  flex-grow: 1;
}

.admin-table {
  font-size: var(--xs-size);
  margin-top: var(--spacing-48);
  margin-bottom: var(--spacing-48);
}

.admin-table thead {
  border-bottom: var(--light-font-color);
}

.admin-table tbody {
  border-bottom: var(--light-font-color);
}

.admin-parrafo {
  flex-grow: 1;
  font-size: var(--s-size);
  font-weight: var(--l-weight);
  font-family: var(--primary-font);
  color: var(--bluedark-font-color);
}

.create-item {
  display: flex;
}

.agregar {
  color: var(--red-bg-color);
  padding: var(--xxs-spacing);
}

.modificar {
  color: var(--blue-font-color);
}

.buscar {
  color: var(--dark-font-color);
  font-weight: var(--l-weight);
}

/*responsive design: From desktop to mobile*/

/*version mobile*/
@media screen and (max-width: 480px) {
  /*login*/
  .login__title {
    font-size: var(--xxs-size);
  }

  .login__form__label {
    font-size: var(--xxs-size);
  }

  .login__form__textbox {
    font-size: var(--xxs-size);
  }

  .login__form__btn {
    font-size: var(--xxxs-size);
    padding: var(--xxxs-spacing);
  }

  .login__form-recuerdame {
    font-size: var(--xxxs-size);
  }

  .login__form-olvidar {
    font-size: var(--xxxs-size);
  }
}
